# Core LangChain
langchain
langchain-community
langgraph
langsmith
langchain-groq

# Document processing / PDFs / search
pypdf
duckduckgo_search
streamlit

# Embeddings & vector DB
langchain-text-splitters
langchain-huggingface
langchain-chroma
faiss-cpu
torch
transformers
sentence-transformers
numpy

# Environment
python-dotenv